:root {
  --brandb-200: var(--color-styles-brand-b200);
  --brandb-300: var(--color-styles-brand-b300);
  --brandb-400: var(--color-styles-brand-b400);
  --brandb-500: var(--color-styles-brand-b500);
  --brandb-50: var(--color-styles-brand-b50);
  --brandb-75: var(--color-styles-brand-b75);
  --brandb-100: var(--color-styles-brand-b100);
  --neutraln-0: var(--color-styles-neutral-n0);
  --neutraln-10: var(--color-styles-neutral-n10);
  --neutraln-20: var(--color-styles-neutral-n20);
  --neutraln-30: var(--color-styles-neutral-n30);
  --neutraln-40: var(--color-styles-neutral-n40);
  --neutraln-50: var(--color-styles-neutral-n50);
  --neutraln-60: var(--color-styles-neutral-n60);
  --neutraln-70: var(--color-styles-neutral-n70);
  --neutraln-80: var(--color-styles-neutral-n80);
  --neutraln-90: var(--color-styles-neutral-n90);
  --neutraln-100: var(--color-styles-neutral-n100);
  --neutraln-200: var(--color-styles-neutral-n200);
  --neutraln-300: var(--color-styles-neutral-n300);
  --neutraln-400: var(--color-styles-neutral-n400);
  --neutraln-500: var(--color-styles-neutral-n500);
  --neutraln-600: var(--color-styles-neutral-n600);
  --neutraln-700: var(--color-styles-neutral-n700);
  --neutraln-800: var(--color-styles-neutral-n800);
  --neutraln-900: var(--color-styles-neutral-n900);
  --successs-50: var(--color-styles-success-s50);
  --successs-75: var(--color-styles-success-s75);
  --successs-100: var(--color-styles-success-s100);
  --successs-200: var(--color-styles-success-s200);
  --successs-300: var(--color-styles-success-s300);
  --successs-400: var(--color-styles-success-s400);
  --successs-500: var(--color-styles-success-s500);
  --warningw-50: var(--color-styles-warning-w50);
  --warningw-75: var(--color-styles-warning-w75);
  --warningw-100: var(--color-styles-warning-w100);
  --warningw-200: var(--color-styles-warning-w200);
  --warningw-300: var(--color-styles-warning-w300);
  --warningw-400: var(--color-styles-warning-w400);
  --warningw-500: var(--color-styles-warning-w500);
  --dangerd-50: var(--color-styles-danger-d50);
  --dangerd-75: var(--color-styles-danger-d75);
  --dangerd-100: var(--color-styles-danger-d100);
  --dangerd-200: var(--color-styles-danger-d200);
  --dangerd-300: var(--color-styles-danger-d300);
  --dangerd-400: var(--color-styles-danger-d400);
  --dangerd-500: var(--color-styles-danger-d500);
  --genericg-50: var(--color-styles-generic-g50);
  --genericg-75: var(--color-styles-generic-g75);
  --genericg-100: var(--color-styles-generic-g100);
  --genericg-200: var(--color-styles-generic-g200);
  --genericg-300: var(--color-styles-generic-g300);
  --genericg-400: var(--color-styles-generic-g400);
  --genericg-500: var(--color-styles-generic-g500);
  --mobile-h1-header-font-family: "Manrope-SemiBold", Helvetica;
  --mobile-h1-header-font-weight: 600;
  --mobile-h1-header-font-size: 18px;
  --mobile-h1-header-letter-spacing: 0px;
  --mobile-h1-header-line-height: 110.00000238418579%;
  --mobile-h1-header-font-style: normal;
  --mobile-h2-section-title-font-family: "Manrope-Medium", Helvetica;
  --mobile-h2-section-title-font-weight: 500;
  --mobile-h2-section-title-font-size: 16px;
  --mobile-h2-section-title-letter-spacing: -0.16px;
  --mobile-h2-section-title-line-height: 120.00000476837158%;
  --mobile-h2-section-title-font-style: normal;
  --mobile-h3-section-subtitle-font-family: "Manrope-Medium", Helvetica;
  --mobile-h3-section-subtitle-font-weight: 500;
  --mobile-h3-section-subtitle-font-size: 13px;
  --mobile-h3-section-subtitle-letter-spacing: 0px;
  --mobile-h3-section-subtitle-line-height: 120.00000476837158%;
  --mobile-h3-section-subtitle-font-style: normal;
  --mobile-paragraph-font-family: "Manrope-Medium", Helvetica;
  --mobile-paragraph-font-weight: 500;
  --mobile-paragraph-font-size: 12px;
  --mobile-paragraph-letter-spacing: 0px;
  --mobile-paragraph-line-height: 150%;
  --mobile-paragraph-font-style: normal;
  --mobile-h4-big-CTA-font-family: "Manrope-Bold", Helvetica;
  --mobile-h4-big-CTA-font-weight: 700;
  --mobile-h4-big-CTA-font-size: 17px;
  --mobile-h4-big-CTA-letter-spacing: -0.34px;
  --mobile-h4-big-CTA-line-height: 120.00000476837158%;
  --mobile-h4-big-CTA-font-style: normal;
  --mobile-h5-litle-CTA-font-family: "Manrope-Bold", Helvetica;
  --mobile-h5-litle-CTA-font-weight: 700;
  --mobile-h5-litle-CTA-font-size: 12px;
  --mobile-h5-litle-CTA-letter-spacing: -0.12px;
  --mobile-h5-litle-CTA-line-height: 120.00000476837158%;
  --mobile-h5-litle-CTA-font-style: normal;
  --mobile-thin-paragraph-font-family: "Manrope-Light", Helvetica;
  --mobile-thin-paragraph-font-weight: 300;
  --mobile-thin-paragraph-font-size: 10px;
  --mobile-thin-paragraph-letter-spacing: 0px;
  --mobile-thin-paragraph-line-height: 150%;
  --mobile-thin-paragraph-font-style: normal;
  --mobile-text-imput-font-family: "Manrope-Regular", Helvetica;
  --mobile-text-imput-font-weight: 400;
  --mobile-text-imput-font-size: 15px;
  --mobile-text-imput-letter-spacing: 0px;
  --mobile-text-imput-line-height: 150%;
  --mobile-text-imput-font-style: normal;
  --mobile-thin-condensed-paragraph-font-family: "Manrope-Light", Helvetica;
  --mobile-thin-condensed-paragraph-font-weight: 300;
  --mobile-thin-condensed-paragraph-font-size: 9px;
  --mobile-thin-condensed-paragraph-letter-spacing: 0px;
  --mobile-thin-condensed-paragraph-line-height: 110.00000238418579%;
  --mobile-thin-condensed-paragraph-font-style: normal;
  --desktop-h1-header-font-family: "Manrope-SemiBold", Helvetica;
  --desktop-h1-header-font-weight: 600;
  --desktop-h1-header-font-size: 25px;
  --desktop-h1-header-letter-spacing: 0px;
  --desktop-h1-header-line-height: 110.00000238418579%;
  --desktop-h1-header-font-style: normal;
  --desktop-h2-section-font-family: "Manrope-Medium", Helvetica;
  --desktop-h2-section-font-weight: 500;
  --desktop-h2-section-font-size: 20px;
  --desktop-h2-section-letter-spacing: -0.2px;
  --desktop-h2-section-line-height: 120.00000476837158%;
  --desktop-h2-section-font-style: normal;
  --desktop-h3-section-subtitle-font-family: "Manrope-Medium", Helvetica;
  --desktop-h3-section-subtitle-font-weight: 500;
  --desktop-h3-section-subtitle-font-size: 17px;
  --desktop-h3-section-subtitle-letter-spacing: 0px;
  --desktop-h3-section-subtitle-line-height: 120.00000476837158%;
  --desktop-h3-section-subtitle-font-style: normal;
  --desktop-paragraph-font-family: "Manrope-Medium", Helvetica;
  --desktop-paragraph-font-weight: 500;
  --desktop-paragraph-font-size: 14px;
  --desktop-paragraph-letter-spacing: 0px;
  --desktop-paragraph-line-height: 150%;
  --desktop-paragraph-font-style: normal;
  --desktop-h4-big-CTA-font-family: "Manrope-Bold", Helvetica;
  --desktop-h4-big-CTA-font-weight: 700;
  --desktop-h4-big-CTA-font-size: 20px;
  --desktop-h4-big-CTA-letter-spacing: -0.4px;
  --desktop-h4-big-CTA-line-height: 120.00000476837158%;
  --desktop-h4-big-CTA-font-style: normal;
  --desktop-h5-little-CTA-font-family: "Manrope-Bold", Helvetica;
  --desktop-h5-little-CTA-font-weight: 700;
  --desktop-h5-little-CTA-font-size: 14px;
  --desktop-h5-little-CTA-letter-spacing: -0.14px;
  --desktop-h5-little-CTA-line-height: 120.00000476837158%;
  --desktop-h5-little-CTA-font-style: normal;
  --desktop-thing-paragraph-font-family: "Manrope-Light", Helvetica;
  --desktop-thing-paragraph-font-weight: 300;
  --desktop-thing-paragraph-font-size: 14px;
  --desktop-thing-paragraph-letter-spacing: 0px;
  --desktop-thing-paragraph-line-height: 150%;
  --desktop-thing-paragraph-font-style: normal;
  --desktop-text-input-font-family: "Manrope-Regular", Helvetica;
  --desktop-text-input-font-weight: 400;
  --desktop-text-input-font-size: 20px;
  --desktop-text-input-letter-spacing: 0px;
  --desktop-text-input-line-height: 150%;
  --desktop-text-input-font-style: normal;
  --desktop-thin-condensed-paragraph-font-family: "Manrope-Light", Helvetica;
  --desktop-thin-condensed-paragraph-font-weight: 300;
  --desktop-thin-condensed-paragraph-font-size: 11px;
  --desktop-thin-condensed-paragraph-letter-spacing: 0px;
  --desktop-thin-condensed-paragraph-line-height: 114.99999761581421%;
  --desktop-thin-condensed-paragraph-font-style: normal;
  --l1-b300-shadow: 0px 0px 10px 0px rgba(251, 166, 81, 0.25);
  --l2-b400-shadow: 0px 0px 7px 0px rgba(176, 116, 57, 0.2);
  --l3-b300: 0px 0px 15px 0px rgba(251, 166, 81, 0.5);
  --color-styles-brand-b600: rgba(112, 74, 36, 1);
  --color-styles-neutral-n1000: rgba(0, 0, 0, 1);
  --color-styles-generic-g300: rgba(106, 181, 251, 1);
  --color-styles-generic-g200: rgba(131, 194, 252, 1);
  --color-styles-generic-g100: rgba(169, 212, 253, 1);
  --color-styles-generic-g75: rgba(194, 225, 253, 1);
  --color-styles-generic-g50: rgba(240, 248, 255, 1);
  --color-styles-danger-d500: rgba(153, 68, 57, 1);
  --color-styles-danger-d400: rgba(176, 78, 65, 1);
  --color-styles-danger-d300: rgba(251, 112, 93, 1);
  --color-styles-danger-d200: rgba(252, 136, 121, 1);
  --color-styles-danger-d100: rgba(253, 172, 161, 1);
  --color-styles-danger-d75: rgba(253, 196, 189, 1);
  --color-styles-warning-w500: rgba(153, 128, 65, 1);
  --color-styles-warning-w400: rgba(176, 147, 74, 1);
  --color-styles-warning-w300: rgba(251, 210, 106, 1);
  --color-styles-danger-d50: rgba(255, 241, 239, 1);
  --color-styles-warning-w200: rgba(252, 218, 131, 1);
  --color-styles-warning-w100: rgba(253, 229, 169, 1);
  --color-styles-warning-w75: rgba(253, 237, 194, 1);
  --color-styles-warning-w50: rgba(255, 251, 240, 1);
  --color-styles-success-s500: rgba(89, 145, 69, 1);
  --color-styles-success-s400: rgba(102, 167, 79, 1);
  --color-styles-success-s300: rgba(146, 238, 113, 1);
  --color-styles-success-s200: rgba(165, 241, 137, 1);
  --color-styles-success-s100: rgba(192, 245, 173, 1);
  --color-styles-success-s50: rgba(244, 253, 241, 1);
  --color-styles-neutral-n900: rgba(28, 20, 12, 1);
  --color-styles-neutral-n800: rgba(39, 32, 24, 1);
  --color-styles-neutral-n80: rgba(160, 156, 153, 1);
  --color-styles-neutral-n70: rgba(173, 170, 168, 1);
  --color-styles-neutral-n40: rgba(225, 224, 223, 1);
  --color-styles-generic-g500: rgba(65, 110, 153, 1);
  --color-styles-neutral-n30: rgba(237, 236, 236, 1);
  --color-styles-neutral-n600: rgba(69, 62, 56, 1);
  --color-styles-neutral-n0: rgba(255, 255, 255, 1);
  --color-styles-neutral-n500: rgba(80, 74, 68, 1);
  --color-styles-brand-b100: rgba(253, 203, 154, 1);
  --color-styles-neutral-n400: rgba(94, 88, 82, 1);
  --color-styles-brand-b75: rgba(253, 219, 184, 1);
  --color-styles-neutral-n200: rgba(119, 114, 109, 1);
  --color-styles-brand-b500: rgba(153, 101, 49, 1);
  --color-styles-brand-b300: rgba(251, 166, 81, 1);
  --color-styles-neutral-n90: rgba(146, 142, 138, 1);
  --color-styles-neutral-n100: rgba(132, 128, 124, 1);
  --color-styles-brand-b400: rgba(176, 116, 57, 1);
  --color-styles-success-s75: rgba(210, 248, 197, 1);
  --color-styles-brand-b50: rgba(255, 246, 238, 1);
  --color-styles-neutral-n60: rgba(185, 182, 180, 1);
  --color-styles-neutral-n300: rgba(105, 100, 95, 1);
  --color-styles-neutral-n50: rgba(198, 196, 194, 1);
  --color-styles-neutral-n700: rgba(53, 46, 39, 1);
  --color-styles-brand-b200: rgba(252, 181, 111, 1);
  --color-styles-generic-g400: rgba(74, 127, 176, 1);
  --color-styles-neutral-n20: rgba(246, 246, 245, 1);
  --color-styles-neutral-n10: rgba(250, 250, 250, 1);
  --items-functions-subtotal: 43.29999923706055px;
  --items-functions-cupcake-box: 12px;
  --items-functions-cupcake-final-price: var(--items-functions-cupcake-single-price);
  --items-functions-cupcake-single-price: 0.800000011920929px;
}
