body{
    background-color: #cdb4db;
    color: white;
    font-family: 'Lugrasimo', cursive;

}
a{
    color: cyan;
}
header{
    color: white;
    text-align: center;
    /* change all header to uppercase */
    text-transform: uppercase;
}
a{
    color:#bde0fe;

}
.top{
    background-color: #ffafcc ;
}

em{
    background-color: #ffafcc;
}

#the_most_important{
    background-color: #a2d2ff;
    text-transform: uppercase;
    
}
article{
    color: white;
    font-size: 20px;
}
section{
    color: white;
    font-size: 20px;
    text-align: center;

}

table{
    color: black;
    font-size: 20px;
    text-align: center;
    width: 80%;
    
}

button{
    background-color: cyan;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

#order{
    background-color: cyan;
    color: black;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 0px 955px;
    align-items: center;
}

h2{
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}
h2>p{
    font-size: x-large;
}
tr{
    background-color: #a2d2ff;
}
tr:hover{
    background-color: #ffc8dd;
}

nav{
    display: inline;
}
a+a{
    text-decoration: none;
}

body:hover{
    cursor: pointer;
}

tr:nth-child(even){
    background-color: #ffc8dd;
}

tr:nth-child(even):hover{
    background-color: #a2d2ff;
}

tr:nth-child(odd){
    background-color: #a2d2ff;
}

tr:nth-child(odd):hover{
    background-color: #ffc8dd;
}

p::selection{
    background-color: #ffafcc;
    color: black;
}

input{
    height: 20px;
    border-color: lightgray;
}

#massege{
    height: 50px;
}